main h1{
    color: green;
    text-align: center;
}
article {
    width: 100%;
}

    article p {
            font-size: large;
            color: blue;
            
        }

div {
    display: flex;
    justify-content: space-between;
}
.author,
.date-created {
    font-size: small;
}

main {
    background-color: rgba(0, 0, 0, .25);
    margin: 0 2.5rem;
    height: 75%;
    overflow: scroll;
}